<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Add products</h2>
            <form action="/admin/add-product" method="post"enctype="multipart/form-data">
                
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name">

                
                    <label >Category</label>
                    <input type="text" class="form-control" name="Category"  >

                
                    <label >Price</label>
                    <input type="text" class="form-control" name="Price" >

                
                    <label >Description</label>
                    <input type="text" class="form-control" name="Description" >

                
                    <label >Image</label>
                    <input type="file" class="form-control" name="image">

                <button type="submit" class="btn btn-success mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>
 