<section>
    <div class="container">
        <div class="row mt-3">
            {{!-- <a href="/admin/add-product" class="btn btn-success ml-auto">add product</a> --}}
        </div>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">address</th>
                    
                </tr>
            </thead>
            <tbody>

                {{!-- {{#each user}} --}}
                <tr>
                    {{!-- <th scope="row">1</th> --}}
                    {{!-- <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td> --}}
                   
                </tr>
                {{!-- {{/each}} --}}
            </tbody>
        </table>
    </div>
</section>